.nav{
    background-color: rgb(138, 15, 107);
}
.text__logo{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.back{
    font-size: 20px;
    color: #fff;
    background: rgb(138, 15, 107);
    padding: 5px;
    display: flex;
    justify-content: center;

}
.back:hover{
    color: #fff;
    background-color: rgb(138, 15, 107);
    
}